/* SEARCH-RESULT */

.background-image-search {
  background-image: url(images/showcase.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  object-fit: cover;
}

.arrows {
  position: absolute;
  bottom: 0;
  right: 0;
}

label {
  color: #888;
}

/* Tablet breakpoint 768px */
@media (min-width: 768px) {
  .gearlogo {
    width: 130px;
  }

  .form-container {
    width: 100%;
  }
}
