/* SEARCH-RESULT */

.search-page {
  background-color: #f2f2f2;
}

.background-image-search {
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  object-fit: cover;
}

.searc1 {
  background-image: url(images/mic.jpg);
}

.search2 {
  background-image: url(images/search2.jpeg);
}

.search3 {
  background-image: url(images/search3.jpeg);
}

.search4 {
  background-image: url(images/search4.jpeg);
}

.search5 {
  background-image: url(images/search5.jpeg);
}

.search6 {
  background-image: url(images/search6.jpeg);
}

.arrows {
  position: absolute;
  bottom: 0;
  right: 0;
}

label {
  color: #888;
}

/* Tablet breakpoint 768px */
@media (min-width: 768px) {
  .gearlogo {
    width: 130px;
  }

  .form-container {
    width: 100%;
  }
}
