/* Globals */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("fonts/GothamBold.ttf");
}

@font-face {
  font-family: "Gotham-Light";
  src: url("fonts/GothamRoundedLight_21020.ttf");
}

@font-face {
  font-family: "HelveticaNue-Bold";
  src: url("fonts/HelveticaNeue-Bold.ttf");
}

@font-face {
  font-family: "HelveticaNue-Light";
  src: url("fonts/HelveticaNeue-Light.ttf");
}

@font-face {
  font-family: "HelveticaNue-Medium";
  src: url("fonts/HelveticaNeue-Medium.ttf");
}

body {
  font-family: "Gotham-Light";
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* Genric classes  */

.magenta-bg {
  background-color: #d35266;
}

.magenta-text {
  color: #d35266;
}

.graylight-color {
  color: #888888;
}

.blacklight-color {
  color: #383838;
}

/* Header */

header {
  background-color: #383838;
}

.gearlogo {
  width: 110px;
}

nav a {
  color: #888888;
}

nav a:hover {
  color: #d35266;
}

/* SHOWCASE SECTION */

.showcasecontainer {
  background-image: url("images/showcase2.jpg"),
    linear-gradient(
      270deg,
      rgba(211, 82, 102, 0.8043592437) 25%,
      rgba(211, 82, 102, 0.8015581232) 75%
    );
  /* background-blend-mode: overlay; */
  background-position: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
}

.form-container {
  width: 75%;
}
/* CATEGORY CONTAINER */

.categories-container {
  background-color: gray;
}

/* HOT DEALS */

/* BEST SELLING */
.bestselling-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.bestselling {
  background-color: gray;
}

.bestselling-container img {
  width: 100%;
}

.bestselling-card {
  background-color: white;
}

/* Tablet breakpoint 768px */
@media (min-width: 768px) {
  .gearlogo {
    width: 130px;
  }

  .form-container {
    width: 100%;
  }

  .hot-deals {
    width: 700px;
  }

  .bestselling-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

/* Desktop breakpoint 992px */

@media (min-width: 992px) {
  .bestselling-container {
    display: grid;
    grid-template-columns: 20px repeat(4, 1fr) 20px;
    gap: 1rem;
  }
}
